<%- include('partials/head') %>
    <%- include('partials/footer') %>

        <main>

            <img src="/Angusburger_met_gegrilde_groenten_en_pesto.webp">
            <% recipes.forEach (recipe=> { %>
                <article class="title-info">
                    <h1>
                        <%= recipe.title %>
                    </h1>
                    <ul>
                        <li> <a href="/">Hoofdgerecht</a></li>
                        <li> <a href="/">4 Pers.</a></li>
                        <li> <a href="/">Ca. 30 min</a></li>
                    </ul>
                </article>
                <% }) %>

                    <div class="ingredienten-container">
                        <section class="ingredienten-lijst">
                            <h3>Ingrediënten</h3>
                            <ul>
                                <li>
                                    1 pakje tomaat
                                </li>
                                <li>
                                    1 pakje tomaat
                                </li>
                                <li>
                                    1 pakje tomaat
                                </li>
                                <li>
                                    1 pakje tomaat
                                </li>
                                <li>
                                    1 pakje tomaat
                                </li>
                                <li>
                                    1 pakje tomaat
                                </li>
                                <li>
                                    1 pakje tomaat
                                </li>
                                <li>
                                    1 pakje tomaat
                                </li>
                                <li>
                                    1 pakje tomaat
                                </li>
                                <li>
                                    1 pakje tomaat
                                </li>
                            </ul>
                            <button type="button">Verander ingrediënten</button>
                        </section>
                    </div>

                    <section class="bereidingswijze">
                        <h2>Bereidingswijze</h2>
                        <p>
                            Snijd de courgette, ui en paprika en meng met de olijfolie, peper en zout. Gril de groenten
                            op de barbecue of in de grillpan 5 minuten tot ze mooie grillstrepen hebben en beetgaar
                            zijn.
                            <br> <br>
                            Gril de Angusburgers op de hete barbecue in 5 min. per kant bruin en gaar. Snijd intussen de
                            broodjes open.
                            <br> <br>
                            Beleg de onderste helften van de broodjes met de slamelange en de tomaat. Leg er de
                            Angusburgers op. Garneer de burgers met de pesto en wat gegrilde groenten. Dek af met de
                            bovenste helften van de broodjes. Serveer de rest van de gegrilde groenten apart bij de
                            burgers.
                        </p>
                        <article class="variatie-tip">
                            <h3>Variatietip</h3>
                            <p>lorem ipsum enzo</p>
                        </article>
                    </section>


                    <section class="snelfilter">
                        <h3>Snelfilter</h3>
                        <ul>
                            <li> <a href="/">meuk</a></li>
                            <li> <a href="/">meuk2</a></li>
                            <li> <a href="/">meuk3</a></li>
                        </ul>
                    </section>

        </main>