<%- include('partials/head') %>
    <%- include('partials/footer') %>

        <main>
            <div class="mealbox1">
                <% recipes.forEach (recipe=> { %>
                    <ul>
                        <li>
                            <a href="/recipe/<%= recipe.id %>">
                                <%= recipe.title %>
                            </a>
                            </a>
                        </li>
                    </ul>
                    <% }) %>
            </div>
        </main>