* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    font-family: var(--font);
}

/* SMALL STYLING  */
svg {
    width: 20px;
    height: 20px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --text-color: #484848;
    --title-fontsize: 36px;
    --subtitle-fontsize: 32px;
    --section-fontsize: 26px;
    --text-fontsize: 16px;
    --section-backgroundcolor: #EFEFEF;
    --font: "Inter", sans-serif;
}

/* NAV */

header ul {
    display: flex;
    align-items: center;
    height: 2em;
    gap: 1.5em;
}

nav .user-action {
    display: flex;
    align-items: center;
    gap: 2em;
    height: 6em;
    background-color: #88C012;

    input {
        width: 25em;
        height: 3.2em;
        border-radius: 40px 40px 40px 10px;
        border: none;
    }

    input::placeholder {
        padding: 0 0 0 1em;
        font-size: 16px;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

header ul,
nav .user-action,
.navbar {
    padding: 0 20em 0 20em;
}

/* MAIN */

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr 1fr 2fr 2fr 2fr;
    grid-template-areas:
        ". img img img ."
        ". h1 h1 h1 ."
        "filter ingredient bereiding bereiding ."
        "filter ingredient bereiding bereiding ."
        ". ingredient bereiding bereiding .";
}

main img {
    grid-area: img;
    object-fit: cover;
}

.title-info {
    grid-area: h1;
    margin-top: 1em;

    ul {
        margin-top: .5em;
    }
}

.ingredienten-container {
    grid-area: ingredient;
    background-color: transparent;
}

.ingredienten-lijst {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 1em 1em 1em 1em;
    border-radius: 10px;
    margin-right: 3em;
    margin-top: 1em;
    background-color: var(--section-backgroundcolor);
}

.ingredienten-lijst h3 {
    margin-top: 1em;
    font-size: var(--section-fontsize);
    color: var(--text-color);
}

.ingredienten-lijst ul {
    font-size: var(--text-fontsize);
    color: var(--text-color);
    margin-top: 1em;
    flex-grow: 1;
    margin-bottom: 2em;
}

.ingredienten-lijst button {
    height: 3em;
    width: 15em;
    font-size: var(--text-fontsize);
    color: white;
    background-color: #88C012;
    border-radius: 35px 40px 40px 10px;
    border: none;
    cursor: pointer;
    margin: auto;
}

.bereidingswijze {
    margin-left: 3em;
    margin-top: 1em;
    grid-area: bereiding;

    h2 {
        font-size: var(--subtitle-fontsize);
        color: var(--text-color);
        margin-top: 1em;
    }

    p {
        margin-top: 1em;
    }
}

.variatie-tip {
    margin-top: 2em;
    background-color: lightgreen;
    padding: 1em;
    border-radius: 10px;

    h3 {
        font-size: var(--section-fontsize);
        color: var(--text-color);
        padding: 1em 0 .5em 0;
    }

    p {
        padding: 0 0 1em 0;
    }
}

.snelfilter {
    grid-area: filter;
    background-color: yellow;
    width: 70%;
    margin: 1em 0 0 2em;
    border-radius: 10px;
}